.red {
    color: #f00;
}

.green {
    color: #0f0;
}

.cyan {
    color: #0ff;
}

.webp {
    composes: cyan;
    width: 100%;
    height: 752px;
    background-image: url("../images/fire-breathing.png");
}
